*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: silver;
}

.trrumacare-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    padding-top: 13px;
    padding-bottom: 13px;
    /* padding-left: 50px; */
    gap:150px;
    background-color: white;

}

.navbar-svg{
    cursor: pointer;
}



.navbar-left{
    display: flex;
    gap: 50px;
}

.navbar-li{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 9px;
}
.navbar-para{
    color: #0A1C4B;
    font-weight:500;
    font-size: 18px;
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mesege-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A1C4B1A;
    border-radius: 50%;
    cursor: pointer;
}

.location-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A1C4B1A;
    border-radius: 50%;
    cursor: pointer;
}



.contact-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A1C4B1A;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-right-heading{
    color: hsl(223, 76%, 17%);
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.collabrate-section{
    background-color: #0A1C4B;
    padding-top: 100px;
    padding-bottom: 90px;
    text-align: center;
}

.colabrate-heading{
    color: white;
    font-size: 44px;
    font-weight: 500;
}

.colabrate-para{
    color: white;
    font-size: 19px;
    font-weight: 400;
    padding-top: 10px;
}


.search-location-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transform: translatey(-50%);
}

.location-bar{
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    width: 230px;
    height: 50px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 6px;
}

.location-bar-para{
    color: #7A7A7A;
    outline: none;
    border: none;
    background-color: rgb(233, 233, 233);
}
.input{
    padding-right: 20px;
    border: none;
    outline: none;
}

.Specialities{
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    width: 230px;
    height: 50px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 6px;
}

.Specialities-para{
    color: #7A7A7A;
    outline: none;
    border: none;
    background-color: rgb(233, 233, 233);
}



.Search-Doctors-Hospitals{
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    width: 400px;
    height: 50px;
    padding-left: 20px;
    gap: 10px;
    border-radius: 6px;
}

.Search-Doctors-Hospitals{
    color: #0A1C4B;
    font-weight: 400;
}

.Search-Doctors-Hospitals-para{
    border: none;
    outline: none;
    width: 375px;
    background-color: rgb(233, 233, 233);
}

.search-button{
    display: flex;
    align-items: center;
    background-color: #24D0D0;
    width: 120px;
    height: 50px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.search-button-para{
    color: white;
}

.location-bar:hover{
    border: 2px solid #24D0D0;
    border-left: 10px solid #24D0D0;
}

.Specialities:hover{
    border: 2px solid #24D0D0;
    border-left: 10px solid #24D0D0;
}

.Search-Doctors-Hospitals:hover{
    border: 2px solid #24D0D0;
    border-left: 10px solid #24D0D0;

}
    /* 
    .search-button:hover{
        background-color: #0A1C4B;
    } */